@model MindHeal.Models.DTOs.CreateClientRequestModel
@using MindHeal.Models.Entities.Enum
@using System.ComponentModel.DataAnnotations
<partial name="_Notification" />

@{
    Layout = null;
}
<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html lang="en"
      class="light-style customizer-hide"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>MindHeal | Client Registration</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-80">
            <div class="col-xl-9">

                <h4 class="text-white mb-4 text-center">Add a new Therapist</h4>

                <div class="card" style="border-radius: 15px;">
                    <form asp-action="Create" class="forms" enctype="multipart/form-data" onsubmit="return validateForm()">
                        <div class="card-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" });

                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input asp-for="FirstName" type="text" class="form-control form-control-lg" id="firstname" name="FirstName" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input asp-for="LastName" type="text" class="form-control form-control-lg" id="lastname" name="LastName" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input asp-for="Email" type="email" class="form-control form-control-lg" id="email" name="email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">PhoneNumber</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input asp-for="PhoneNumber" type="number" class="form-control form-control-lg" id="phonenumber" name="PhoneNumber" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">State</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input asp-for="State" type="text" class="form-control form-control-lg" id="State" name="State" required />
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">PassWord</h6>
                                </div>
                                <div class="col-md-9 pe-5">
                                    <input asp-for="Password" type="password" class="form-control form-control-lg" id="password" name="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Gender</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <select id="gender" asp-for="Gender" asp-items="@Html.GetEnumSelectList(typeof(Gender))" placeholder="Gender"></select>
                                    </div>
                                </div>

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">DateOfBirth</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input asp-for="DateOfBirth" id="description" type="date" class="form-control form-control-lg" name="DateOfBirth" />
                                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                    </div>
                                </div>
                            <div style="margin-bottom:auto">
                                <input type="submit" value="Register" class="btn-primary" id="form-submit" onsubmit="formValidation()">
                            </div>
                            </div>
                    </form>
                </div>

            </div>
        </div>


    </div>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

        @*   <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
    <script src="~/js/site.js"></script>
    </body>

    </html>*@
        }
    </body>
    </html>